.select-pagination-selectnumber {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  align-items: center;
  width: 100%;
}

.select-pagination-selectnumber select {
  background-color: white;
  padding: 2px;
  border: none;
  border-radius: 0;
  border-bottom: 3px solid #3bafe2;
}
